extends layout

block content
  .main.container
    .row
      .col-xs-12
        h1.display-4.m-b-2 #{title}
        
        //
        form(method='POST' action='/add-page')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='page') URL Page:
            input#page.form-control(type='text', placeholder='Page URL' name='page')
          //div.form-group
            //label(for='archive') Wayback URL Page:
            //input#page.form-control(type='text', placeholder='Wayback URL' name='archive')
          div.form-group
            label(for='pageType') Page Type:
            br
            input#page(type="radio", name="pageType", value="Campaign") 
            |  Campaign  
            input#page(type="radio", name="pageType", value="SEO") 
            |  SEO  
          button.btn.btn-primary(type='submit') Add Page
      .col-xs-12
        br
        h1 Getting Wayback URL
        ol
          li go to 
            a(href='https://archive.org/web/' target='_blank') https://archive.org/web/
          li Copy the url and paste into the Save Page Now section towards the middle right of the page. Click Save Page
          li The wayback machine will archive the page and display the saved version. 
          li Copy the url and paste it to this form.
          li Make sure all input fields have a value and Click Save Page on this page.
          li To view saved pages; go to the menu and click View Pages.
