extends layout

block content
  .main.container
    .row
      .col-xs-12
        h1.display-4.m-b-2 #{title}
        br
        form(method='POST' action='/add-voc')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='page') VOC Link:
            input#page.form-control(type='text', placeholder='VOC Link' name='vocLink')
          div.form-group
            label(for='page') VOC Page:
            input#page.form-control(type='text', placeholder='VOC Page' name='vocPage')
          button.btn.btn-primary(type='submit') Add VOC