extends layout

block content
  .main.container
    .row
      .col-xs-12
        h1.display-4.m-b-2 #{title}

        // register form
        form(method='POST' action='/add-client')
          div.form-group
            label(for='name') Dealer:
            input#name.form-control(type='text', placeholder='Dealer Name' name='name')
          //div.form-group
            //label(for='page') URL Page:
            //input#page.form-control(type='text', placeholder='Page URL' name='page')
          //div.form-group
            //label(for='archive') Wayback URL Page:
            //input#page.form-control(type='text', placeholder='Wayback URL' name='archive')
          button.btn.btn-primary(type='submit') Add Client