extends layout

block content
  .main.container
    .row
      .col-xs-12
        h1.display-4.m-b-2 #{title}
        br
        form(method='POST' action='/add-trade')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='page') URL Page:
            input#page.form-control(type='text', placeholder='Page URL' name='page')
          button.btn.btn-primary(type='submit') Add Page