extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        div.row
          div.col-sm-6
            h2.favorite-book #{title}
          div.col-sm-6
            a(href='view-client')
              button.btn.btn-primary.search Search Again
        br
        - var count = clientSelected.length;
        
        hr
        h2.client #{clientSelected[0].client}
        hr
        p.title CLIENT INFORMATION
        br
        br
        div.group.info
          div.row
            p.col-sm-6 
              span Client: 
              span #{clientSelected[0].client}
            p.col-sm-6
              span Auto Group:  
              span #{clientSelected[0].autoGroup}
          br
          div.row
            p.col-sm-6
              span Website URL: 
              span #{clientSelected[0].webUrl}
            p.col-sm-6
              span Website Provider: 
              span #{clientSelected[0].webProvider}
          br
        hr 
        hr
        p.title GOOGLE INFORMATION
        br
        br
        div.group.google
          div.row
            p.col-sm-6 
              span Google Analytics ID: 
              span #{clientSelected[0].analyticsID}
            p.col-sm-6 
              span Google Tag Manager: 
              span #{clientSelected[0].gtmID}
          br
          br
        hr
        hr
        // -
          p.title PRODUCT INFORMATION
          br
          br
          div.group.extra
            div.row
              p.col-sm-6
                span Lead Attribution: 
                span #{clientSelected[0].leadAttribution}
              p.col-sm-6 
                span Chat Type: 
                span #{clientSelected[0].chatType}
            div.row
              p.col-sm-6 
                span Pulse Type: 
                span #{clientSelected[0].pulseType}
              p.col-sm-6 
                span SEO Analyst: 
                span #{clientSelected[0].seoAnalyst}
            div.row
              p.col-sm-6 
                span.title Local Listings: 
                span.value #{clientSelected[0].yext}
            br
            br
          hr
        a(href='view-client')
          button.btn.btn-primary Search Again