extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        div.row
          div.col-sm-6
            h2.favorite-book #{title}
          div.col-sm-6
            a(href='view-services')
              button.btn.btn-primary.search Search Again
        br
        - var count = clientSelected.length;
        - var checkCreative = clientSelected[0].creativeServices;
        - var checkXchange = clientSelected[0].xchangeValue;
        - var checkChat = clientSelected[0].chat;
        - var checkVideo = clientSelected[0].video;
        - var checkSeo = clientSelected[0].seo;
        - var checkAutoleadstar = clientSelected[0].autoleadstar;
        - var checkSocial = clientSelected[0].socialElite;
        - var checkClassified = clientSelected[0].classifieds;
        - var checkSEM = clientSelected[0].sem;
        - var checkReputation = clientSelected[0].reputation;
        
        hr 
        h2.client #{clientSelected[0].client}
        hr 
        p.title SERVICES
        br
        br
        div.group.services
          div.row
            div.col-xs-12.col-sm-6.col.serviceBlock.one
              div.image
                i.fas.pulse
              div.row.detailsBlock
                div.col-xs-4
                  span.title Pulse:
                div.col-xs-4
                  if ( checkAutoleadstar )
                    span.value Active
                  else
                    span.value Inactive
                div.col-xs-4
                  if ( checkAutoleadstar )
                    span.dot1
                  else
                    span.dot2
            div.col-xs-12.col-sm-6.col.serviceBlock.two
              div.image
                i.fas.xchange
              div.row.detailsBlock
                div.col-xs-4
                  span.title XchangeValue: 
                div.col-xs-4
                  if ( checkXchange )
                    span.value Active
                  else
                    span.value Inactive
                div.col-xs-4
                  if ( checkXchange )
                    span.dot1
                  else
                    span.dot2
          div.row
            div.col-xs-12.col-sm-6.col.serviceBlock.three
              div.image
                i.fas.fa-comment-dots
              div.row.detailsBlock
                div.col-xs-4
                  span.title Chat:
                div.col-xs-4
                  if ( checkChat )
                    span.value Active
                  else
                    span.value Inactive
                div.col-xs-4
                  if ( checkChat )
                    span.dot1
                  else
                    span.dot2
            div.col-xs-12.col-sm-6.col.serviceBlock.four
              div.image
                i.fas.fa-video
              div.row.detailsBlock
                div.col-xs-4
                  span.title Video: 
                div.col-xs-4
                  if ( checkVideo )
                    span.value Active
                  else
                    span.value Inactive
                div.col-xs-4
                  if ( checkVideo )
                    span.dot1
                  else
                    span.dot2
          // -
            div.row
              div.col-xs-12.col-sm-6.col.serviceBlock.five
                div.image
                  i.fas.fa-search
                div.row.detailsBlock
                  div.col-xs-4
                    span.title SEO: 
                  div.col-xs-4
                    if ( checkSeo )
                      span.value Active
                    else
                      span.value Inactive
                  div.col-xs-4
                    if ( checkSeo )
                      span.dot1
                    else
                      span.dot2
              div.col-xs-12.col-sm-6.col.serviceBlock.six
                div.image
                  i.fas.fa-map-marker-alt
                div.row.detailsBlock
                  div.col-xs-4
                    span.title Social Elite:
                  div.col-xs-4
                    if ( checkSocial )
                      span.value Active
                    else
                      span.value Inactive
                  div.col-xs-4
                    if ( checkSocial )
                      span.dot1
                    else
                      span.dot2
          //-
            div.row
              div.col-xs-12.col-sm-6.col.serviceBlock.seven
                div.image 
                  i.fas.fa-envelope-open
                div.row.detailsBlock
                  div.col-xs-4
                    span.title Creative Services:
                  div.col-xs-4 
                    if ( checkCreative )
                      span.value Active
                    else
                      span.value Inactive
                  div.col-xs-4
                    if ( checkCreative )
                      span.dot1
                    else
                      span.dot2
              div.col-xs-12.col-sm-6.col.serviceBlock.eight
                div.image
                  img.img-responsive(src='https://zmot.auto/wp-content/uploads/2016/12/Classified-Listings-1.png' alt="Classified Listings")
                div.row.detailsBlock
                  div.col-xs-4
                    span.title Classified Listings: 
                  div.col-xs-4
                    if ( checkClassified )
                      span.value Active
                    else
                      span.value Inactive
                  div.col-xs-4
                    if ( checkClassified )
                      span.dot1
                    else
                      span.dot2 
          // -
            div.row
              div.col-xs-12.col-sm-6.col.serviceBlock.nine
                div.image
                  img.img-responsive(src='https://zmot.auto/wp-content/uploads/2016/12/SEM-1.png' alt="SEM")
                div.row.detailsBlock
                  div.col-xs-4
                    span.title SEM:
                  div.col-xs-4
                    if ( checkSEM )
                      span.value Active
                    else
                      span.value Inactive
                  div.col-xs-4
                    if ( checkSEM )
                      span.dot1
                    else
                      span.dot2 
                div.col-xs-12.col-sm-6.col.serviceBlock.ten
                  div.image
                    img.img-responsive(src='https://zmot.auto/wp-content/uploads/2016/12/Reputation-Management-1.png' alt="Reputation Management")
                  div.row.detailsBlock
                    div.col-xs-4
                      span.title Reputation Management: 
                    div.col-xs-4
                      if ( checkReputation )
                        span.value Active
                      else
                        span.value Inactive
                    div.col-xs-4
                      if ( checkReputation )
                        span.dot1
                      else
                        span.dot2
          br
        hr
        a(href='view-services')
          button.btn.btn-primary Search Again