extends layout

block content
  .main.container.text-xs-center
    h1.display-3.hidden-md-down ZMOT SERVICES
    h1.display-4.hidden-xs-down.hidden-lg-up ZMOT SERVICES
    h1.display-5.hidden-sm-up ZMOT SERVICES
    //p.lead Choose from our large collection of paid and free books!
    //a.btn.btn-info-outline.btn-lg(href='/register') Add New Page to Account
    a.btn.btn-info-outline.btn-lg(href='/view-client') View Client 

