nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  a.navbar-brand(href='/')
    img.mainLogo.hidden-md-up.pull-xs-left(src='/images/mainLogo.png', alt='ZMOT')
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand.hidden-xs-down(href='/')
        img.mainLogo(src='/images/mainLogo.png', alt='ZMOT')
      .nav-items.clearfix
        ul(class='navbar-nav mr-auto', id='navbarSupportedContent')
          li(class='nav-item')
            a(class='nav-link', href='/') HOME 
              i(class='fa fa-home', aria-hidden='true')
          li(class='nav-item dropdown')
            a(class='nav-link dropdown-toggel', href='#', id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') VIEW
              span(class='carat')
            div(class='dropdown-menu', arial-labelledby='navbarDropdown')
              //a(class='dropdown-item', href='view-client') View Client
              //div(class='dropdown-divider')
              a(class='dropdown-item', href='view-services') View Services
              div(class='dropdown-divider')
              a(class='dropdown-item', href='view-info') View Info
              div(class='dropdown-divider')
              a(class='dropdown-item', href='view-landing-pages') View Pages
              div(class='dropdown-divider')
              a(class='dropdown-item', href='view-trade') View Trade
              //div(class='dropdown-divider')
              //a(class='dropdown-item', href='view-voc') View VOC
          if currentUser
            li(class='nav-item dropdown')
              a(class='nav-link dropdown-toggel', href='#', id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') ADD
                span(class='carat')
              div(class='dropdown-menu', arial-labelledby='navbarDropdown')
                a(class='dropdown-item', href='add-client') Add Client
                div(class='dropdown-divider')
                a(class='dropdown-item', href='add-page') Add Page
                div(class='dropdown-divider')
                a(class='dropdown-item', href='add-trade') Add Trade
                div(class='dropdown-divider')
                //a(class='dropdown-item', href='add-voc') Add VOC
                //div(class='dropdown-divider')
                a(class='dropdown-item', href='update-info') Update Info
                div(class='dropdown-divider')
                a(class='dropdown-item', href='update-services') Update Services
      
      if currentUser
        div
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          a.btn.btn-light.pull-md-right(href='/logout') Log out
      else
        a.btn.btn-info.pull-md-right(href='login') Login
