nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  img.mainLogo.hidden-md-up.pull-xs-left(src='/images/mainLogo.png', alt='ZMOT')
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        img.mainLogo(src='/images/mainLogo.png', alt='ZMOT')
      .nav-items.clearfix
        a.nav-item.nav-link(href='view-landing-pages') View Pages
        a.nav-item.nav-link(href='view-trade') View Trade
        if currentUser
          a.nav-item.nav-link(href='add-client') Add Client
          a.nav-item.nav-link(href='add-page') Add Page
          a.nav-item.nav-link(href='add-trade') Add Trade
      
      if currentUser
        div
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          a.btn.btn-light.pull-md-right(href='/logout') Log out
      else
        a.btn.btn-info.pull-md-right(href='login') Login

