extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        form(method='POST' action='/update-services')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='chat') Chat:
            br
            input#page(type="radio", name="chat", value="1") 
            |  Yes  
            input#page(type="radio", name="chat", value="0") 
            |  No  
          div.form-group
            label(for='chatType') Chat Type:
            select.dealersList(name='chatType')
              option(value="classic") Classic
              option(value="modern") Modern
              option(value="advanced") Advanced
          div.form-group
            label(for='xchangeValue') XchangeValue:
            br
            input#page(type="radio", name="xchangeValue", value="1") 
            |  Yes  
            input#page(type="radio", name="xchangeValue", value="0") 
            |  No
          div.form-group
            label(for='video') Video:
            br
            input#page(type="radio", name="video", value="1") 
            |  Yes  
            input#page(type="radio", name="video", value="0") 
            |  No
          div.form-group
            label(for='pulse') Pulse:
            br
            input#page(type="radio", name="pulse", value="1") 
            |  Yes  
            input#page(type="radio", name="pulse", value="0") 
            |  No
          div.form-group
            label(for='pulseType') Pulse Type:
            select.dealersList(name='pulseType')
              option(value="original") Original
              option(value="falcon") Falcon
          button.btn.btn-primary(type='submit') Update Client