extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        form(method='POST' action='/update-client')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='webUrl') Website URL:
            input#page.form-control(type='text', placeholder='Web URL' name='webUrl')
          div.form-group
            label(for='webProvider') Website Provider:
            input#page.form-control(type='text', placeholder='Website Provider' name='webProvider')
          div.form-group
            label(for='chat') Chat:
            br
            input#page(type="radio", name="chat", value="1") 
            |  Yes  
            input#page(type="radio", name="chat", value="0") 
            |  No  
          div.form-group
            label(for='chatType') Chat Type:
            select.dealersList(name='chatType')
              option(value="classic") Classic
              option(value="modern") Modern
              option(value="advanced") Advanced
          div.form-group
            label(for='yext') Yext:
            br
            input#page(type="radio", name="yext", value="1") 
            |  Yes  
            input#page(type="radio", name="yext", value="0") 
            |  No
          div.form-group
            label(for='creative') Creative Services:
            br
            input#page(type="radio", name="creative", value="1") 
            |  Yes  
            input#page(type="radio", name="creative", value="0") 
            |  No
          div.form-group
            label(for='leadAttribution') Lead Attribution:
            br
            input#page(type="radio", name="leadAttribution", value="1") 
            |  Yes  
            input#page(type="radio", name="leadAttribution", value="0") 
            |  No
          div.form-group
            label(for='xchangeValue') XchangeValue:
            br
            input#page(type="radio", name="xchangeValue", value="1") 
            |  Yes  
            input#page(type="radio", name="xchangeValue", value="0") 
            |  No
          div.form-group
            label(for='video') Video:
            br
            input#page(type="radio", name="video", value="1") 
            |  Yes  
            input#page(type="radio", name="video", value="0") 
            |  No
          div.form-group
            label(for='pulse') Pulse:
            br
            input#page(type="radio", name="pulse", value="1") 
            |  Yes  
            input#page(type="radio", name="pulse", value="0") 
            |  No
          div.form-group
            label(for='pulseType') Pulse Type:
            select.dealersList(name='pulseType')
              option(value="original") Original
              option(value="falcon") Falcon
          div.form-group
            label(for='seo') SEO:
            br
            input#page(type="radio", name="seo", value="1") 
            |  Yes  
            input#page(type="radio", name="seo", value="0") 
            |  No
          div.form-group
            label(for='seoAnalyst') SEO Analyst:
            select.dealersList(name='seoAnalyst')
              option(value="Steve Allen") Steve Allen
              option(value="Darrell Jones") Darrell Jones
          div.form-group
            label(for='socialElite') Social Elite:
            br
            input#page(type="radio", name="socialElite", value="1") 
            |  Yes  
            input#page(type="radio", name="socialElite", value="0") 
            |  No
          div.form-group
            label(for='classifieds') Classified Listings:
            br
            input#page(type="radio", name="classifieds", value="1") 
            |  Yes  
            input#page(type="radio", name="classifieds", value="0") 
            |  No
          div.form-group
            label(for='sem') SEM:
            br
            input#page(type="radio", name="sem", value="1") 
            |  Yes  
            input#page(type="radio", name="sem", value="0") 
            |  NO
          div.form-group
            label(for='reputation') Reputation Management:
            br
            input#page(type="radio", name="reputation", value="1") 
            |  Yes  
            input#page(type="radio", name="reputation", value="0") 
            |  No
          div.form-group
            label(for='autoGroup') AutoGroup:
            input#page.form-control(type='text', placeholder='AutoGroup Name if any' name='autoGroup')
          div.form-group
            label(for='gaID') Google Analytics ID:
            input#page.form-control(type='text', placeholder='UA-XXXXXXXXX' name='gaID')
          div.form-group
            label(for='gtmID') Google Tag Manager ID:
            input#page.form-control(type='text', placeholder='GTM-XXXXXXXX' name='gtmID')
          button.btn.btn-primary(type='submit') Update Client