extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        form(method='POST' action='/update-info')
          div.form-group
            label(for='name') Dealer:
            - var startList = 0
            select.dealersList(name='name')
                each n in dealers
                    option(value=``+dealers[startList].client) #{dealers[startList].client}
                    - startList+=1
          div.form-group
            label(for='webUrl') Website URL:
            input#page.form-control(type='text', placeholder='Web URL' name='webUrl')
          div.form-group
            label(for='webProvider') Website Provider:
            input#page.form-control(type='text', placeholder='Website Provider' name='webProvider')
          div.form-group
            label(for='autoGroup') AutoGroup:
            input#page.form-control(type='text', placeholder='AutoGroup Name if any' name='autoGroup')
          div.form-group
            label(for='gaID') Google Analytics ID:
            input#page.form-control(type='text', placeholder='UA-XXXXXXXXX' name='gaID')
          div.form-group
            label(for='gtmID') Google Tag Manager ID:
            input#page.form-control(type='text', placeholder='GTM-XXXXXXXX' name='gtmID')
          button.btn.btn-primary(type='submit') Update Client