extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        - var startTable = 0
          each p in dealers
            - var pages = dealers[startTable].vocLink;
              if(!pages)
                table(border=1, class="voc-table")
                  caption #{dealers[startTable].client}
                  tr
                    th VOC Link
                    th VOC Page
                  tr
                    td No Data
                    td No Data
                  br
                  - startTable+=1
              else
                table(border=1, class="voc-table")
                  caption #{dealers[startTable].client}
                  tr
                    th VOC Link
                    th VOC Page
                  tr
                    td #{dealers[startTable].vocLink}
                    td #{dealers[startTable].vocPage}
                  br
                  - startTable+=1
