extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        br
        div(class='accordion md-accordion', id='accordionEX', role='tablist', aria-multiselectable='true')
        - var startClient = 0
          each p in dealers
            div(class='card')
              div(class='card-header', role='tab', id='headingOne1'+startClient)
                a(data-toggle='collapse', data-parent='#accordionEx',  href='#collapseOne1'+startClient aria-expanded='false', aria-controls='collapseOne1'+startClient, class='collapsed')
                  h5(class='mb-0') #{dealers[startClient].client} 
                    i(class='fa fa-angle-down rotate-icon')
              - var countP = dealers[startClient].page.length;
              - var pages = dealers[startClient].page;
              - var startPage = 0
              - var numPages = 0
              div(id='collapseOne1'+startClient, class='collapse show', role='tabpanel1', aria-labelledby='headingOne1'+startClient, data-parent='#accordionEx')
                div(class='card-body')
                  table(border=1, class="client-table")
                    if (countP > 0)
                    each t in pages
                      tr
                        td #{startPage + 1}
                        td 
                          a(class='arc' href=``+dealers[startClient].page[startPage] target='_blank') #{dealers[startClient].page[startPage]} 
                            i(class='fas fa-external-link-alt')
                        //td  
                          a(class='arc' href=``+dealers[startClient].archive[startPage] target='_blank') Archive 
                            i(class='fa fa-link') 
                        td
                          - var pageT = dealers[startClient].pageType[startPage];
                          if(pageT)
                            p #{dealers[startClient].pageType[startPage]}
                          else
                            p no data
                      - startPage+=1
                    else
                      tr
                        td #{startPage}
                        td No Data
                        td No Data
            - startClient+=1
        