extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        table(border=1, class="client-table")
          tr
            th Client
            th Pages
            th Archive
          - var startTable = 0
            each p in dealers
              - var countP = dealers[startTable].page.length;
              - var pages = dealers[startTable].page;
              - var startPage = 0
                if (countP > 0)
                each t in pages
                  tr
                    td #{dealers[startTable].client}
                    td #{dealers[startTable].page[startPage]}
                    td 
                      a(class='arc' href=``+dealers[startTable].archive[startPage] target='_blank') Archive
                  - startPage+=1
                // -
                  else
                    tr
                      td #{dealers[startTable].client}
                      td No Data
                      td No Data
                - startTable+=1
        br

        
              
          

    