extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        table(border=1, class="client-table")
          tr
            th Client
            th Trade Url
          - var startTable = 0
            each p in dealers
              - var pages = dealers[startTable].trade;
                if(!pages)
                  tr
                    td #{dealers[startTable].client}
                    td No Data
                  - startTable+=1
                else
                  tr
                    td #{dealers[startTable].client}
                    td #{dealers[startTable].trade}
                  - startTable+=1
