extends layout

block content
  .main.container.clearfix
    .row
      .col-xs-12
        h2.favorite-book #{title}
        br
        - var count = dealers.length;
        //p #{count}
        if( count > 0)
          form(method='GET' action='/client-services-selected')
            div.form-group
              label(for='name') Dealer:
              - var startList = 0
              select.dealersList(name='name')
                  each n in dealers
                      option(value=``+dealers[startList].client) #{dealers[startList].client}
                      - startList+=1
            div.form-group
            button.btn.btn-primary(type='submit') Select Client
        br
        br
        //- var checkClient = clientSelected.length;
        //p #{clientSelected[0]}
        //if(checkClient > 0)
          