
/* Base Styles */

body {
	background: #1d2a33 url('../images/bg.jpg') no-repeat;
	background-size: cover; 
}

a:hover {
	color: rgba(49,176,213, .7);
}

/* Component Styles */

.navbar {
	padding: 1rem 0;
	background: rgba(0,0,0, .75);
}
.lead {
	margin-bottom: 2.5rem;
}
.main {
	color: #fff;
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	color: rgba(255,255,255, .6);
}

/* Modifier Styles */

.nav-items .nav-link {
	margin: 0 1rem;
}
.navbar-brand {
	margin: 0;
}
.navbar .nav-link,
.navbar .btn {
	text-transform: uppercase;
	font-size: .95rem;
}
.list-group {
	color: initial;
}
.label {
	font-size: .88rem;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-info {
	background-color: #31b0d5;
	border-color: #2aabd2;
}
.btn-info:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.btn-light {
	color: rgba(255,255,255, .75);
	background: rgba(255,255,255, .12);
}
.btn-light:hover {
	background: rgba(255,255,255, .2);	
}
.active,
.btn {
	transition: .4s;
}

/* Icon Styles */

.icn-logo {
	margin: 3px 3px 0;
	float: left;
}
.icn-person {
	font-size: 50px;
	border-radius: 50%;
	border: solid 2px;
	padding: .5rem;
}
.avatar {
	width: 35px;
	margin-right: 18px;
	border: solid 2px rgba(255,255,255, .75);
}
.options {
	display: none;
}
.list-group-item:hover .options {
	display: block;
}
.options .material-icons {
	font-size: 1.25rem;
	cursor: pointer;
	margin-left: 1rem;
	color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
	color: initial;
}

.favorite-book {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
	.navbar {
		background: #1d2a33;
	}
	.nav-items .nav-item {
		float: none;
	}
	.nav-items .nav-link  {
		padding: .65rem 0;
		display: block;
	}
	.nav-items {
		padding: 1rem 0;
		clear: left;
	}
	.navbar .btn {
		margin-left: 1rem;
	}
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 48em) { 
	.navbar {
		min-height: 70px;
	}
	.navbar-nav .container {
		display: -webkit-flex;
		display: flex;
	}
	.nav-items {
		margin-right: auto;
		margin-left: auto;
	}
	.main {
		padding-top: 8rem;
	}
}


/*beginning changes*/
/*design changes*/
.fa, .fas {
    color: #ee4229;
}
img.mainLogo.hidden-md-up.pull-xs-left {
    max-width: 100px;
    padding-left: 10px;
}
img.mainLogo {
    max-width: 150px;
}
a.btn.btn-info.pull-md-right {
    background-color: #ee4229;
    border: none;
    max-height: 40px;
}
a:hover {
    color: #ee4229;
}
li.nav-item {
    list-style-type: none;
}
ul#navbarSupportedContent {
    text-align: left;
    padding-left: 0px;
}

li.nav-item.dropdown {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px !important;
}
button.navbar-toggler.hidden-md-up.pull-xs-right.collapsed {
    margin-right: .5rem;
    padding: .4rem .5rem;
}
button.navbar-toggler.hidden-md-up.pull-xs-right {
	margin-right: .5rem;
    padding: .4rem .5rem;
    color: #ee4229;
}
.navbar-toggler {
    border-color: #ee4229;
}
button:focus {
    color: #ee4229;
}
a.btn.btn-info-outline.btn-lg {
    color: #ee4229;
    border-color: #ee4229;
}
.btn-info-outline.active, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline:focus, .btn-info-outline:hover .open>.btn-info-outline.dropdown-toggle {
    background-color: #ee4229;
    color: #FFF !important;
}
.btn-info-outline:hover {
	background-color: #ee4229;
	color: #FFF !important;
}
.carat {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.nav-link[aria-expanded="true"] .carat {
	transition: .5s;
    transform: rotate(180deg);
    margin-bottom: 5px;
}
.nav-link[aria-expanded="false"] .carat {
	transition: .5s;
}
.dropdown-menu {
	border-radius: 0px;
	margin: 0;
    padding: 0px;
}
.dropdown-divider {
    background-color: #000;
    margin: 0;
    padding: 0;
}
.dropdown-item {
    padding: 8px 20px;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #DBDBDB;
}

/*table for view pages*/
table.client-table {
    width: 100%;
    border: 1;
    color: #FFF;
    border-color: grey;
}

table.client-table td {
    padding: 5px;
}
table.client-table th {
    text-align: center;
}
select.dealersList {
    color: #000;
    width: 100%;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}
a[aria-expanded="false"].collapsed i.fa.fa-angle-down.rotate-icon::before {
	content: "\f107";
	float: right;
}
a[aria-expanded="true"] i.fa.fa-angle-down.rotate-icon::before{
	content: "\f106";
	float: right;
}
.fa-link:before {
    content: "\f0c1";
    font-size: 18px;
}
i.fa.fa-angle-down.rotate-icon {
    float: right;
    font-size: 30px;
    width: 50%;
    display:inline;
}
.card-body table.client-table {
    color: #292929;
    border-color: lightgray;
    font-weight: 600;
}
h5.mb-0 {
    color: #171717;
    font-weight: 900;
    display: inline
}
a.arc {
    color: #333;
    font-weight: 600;
}
table.client-table td {
     width: 50%; 
}

table.voc-table caption {
    caption-side: top;
    text-align: center;
    font-size: 24px;
    color: #FFF;
}
table.voc-table {
    width: 100%;
    color: #FFF;
    border-collapse: unset;
    border-color: #FFF;
    border-spacing: 2;
}
table.voc-table th {
    text-align: center;
    padding: 5px;
}
table.voc-table td {
    padding: 5px;
}


hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

p.title {
    font-size: 21px;
}
.group p {
    font-size: 16px;
}

.group .row p span:first-child {
    color: #ee4229;
    margin-right: 15px;
    padding: 5px;
}

span.title {
    color: #ee4229;
    margin-right: 15px;
    padding: 5px;
    text-transform: none !important;
}

i.fas.fa-video {
    width: 100%;
    font-size: 85px;
    color: #FFF;
    padding: 10px;
}
i.fas.fa-envelope-open, i.fas.fa-comment-dots, i.fas.fa-search, i.fas.fa-map-marker-alt  {
    width: 100%;
    font-size: 85px;
    color: #FFF;
    padding: 10px;
}
.fas, .far{
   /*color: #FFF; */
}
.xchange:before {
    content: url(http://app.xchangevalue.com/assets/img/logo.png);
}
.pulse:before {
    content: url(/images/falcon.svg);
}
i.fa.fa-home {
    width: auto;
    padding: 0px;
    font-size: 21px;
}

.image {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}

.image img {
    max-width: 80px;
}
.row.detailsBlock {
    text-align: center;
}
button.btn.btn-primary.search {
    float: left;
    text-align: left;
}
.col-sm-6.serviceBlock {
    margin: 0px !important;
    padding: 25px 10px;
    border-bottom: 1px solid;
    border: solid;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


.detailsBlock div:nth-child(2){
    border-left: 1px solid;
    border-right: 1px solid;
    
}

.client {
    text-align: center;
    background: white;
    margin: 0px !important;
    color: black;
    padding: 10px 0px;
    font-weight: 600;

}




/*beginning changes media queries*/
@media (min-width: 768px) { 
	table.client-table td {
    padding: 10px;
    width: auto;
}

	.navbar .nav-link {
    text-transform: uppercase;
    font-size: 1rem;
}

/*.half {
    width: 50%;
    margin: 0px !important;
}
.half:nth-child(n+1){
    float: right;
}*/
button.btn.btn-primary.search {
    float: right;
    text-align: right;
}
.row {
  display: flex;/* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid;
}
.col-sm-6.serviceBlock.one{
    border-top:none;
    border-left:none;
}
.col-sm-6.serviceBlock.two{
    border-top:none;
    border-right:none;
}
.col-sm-6.serviceBlock.three{
    border-left:none;
    border-bottom: none;
}
.col-sm-6.serviceBlock.four{
    border-right:none;
    border-bottom: none;
}
.col-sm-6.serviceBlock.five{
    border-left:none;
}
.col-sm-6.serviceBlock.six{
    border-right:none;
}
.col-sm-6.serviceBlock.seven{
    border-left:none;
    border-bottom: none;
}
.col-sm-6.serviceBlock.eight{
    border-right:none;
    border-bottom: none;
}
.col-sm-6.serviceBlock.nine{
    border-left:none;
    border-bottom: none;
}
.col-sm-6.serviceBlock.ten{
    border-right:none;
    border-bottom: none;
}
}

@media (min-width: 992px) {
	.navbar .nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
}
}

@media (min-width: 1024px) {
	
}

@media (min-width: 1200px) {
	.navbar .nav-link {
    text-transform: uppercase;
    font-size: 1.5rem;
}
}

@media (max-width: 767px) {
	.nav-items.clearfix {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
    padding-bottom: 0px;
}
ul#navbarSupportedContent {
    margin-bottom: 0px;
    border-bottom: 1px solid;
}
.navbar .btn {
    margin-left: 0;
    margin-top: .75rem;
}
.dropdown-menu {
    width: 100%;
    margin: 0px;
    border-radius: 0;
}
li.nav-item {
    border-top: 1px solid;
}
}


